*{
  box-sizing: content-box;
}
body{
  /* background:green; */
  background: #1e42ff24;
}

input:focus{
  outline:none;
  background:yellow;
  text:white;
}

section{
  transition:1s;
  margin:0 auto;

  width: 100%;
  text-align:  center;


}
form{

  margin: 15% auto;
  display: block;
}

#question:hover{
  cursor:pointer;
}

.container{
  height: 100%;
  margin: 0 auto;
  display: flex;

}

.results{
  background-color: blue;
  border: 2px solid gold;
}

#results{
  display:block;
}
.container input{
  border-radius:20px;
  border-color:orange;
}

.page{
  margin:0 auto;
  border: 2px solid gold;
  display:block;
  width:80%;
  cursor:pointer;
  background-color:#2b92d8;
  height: 150%;
  line-height: 35px;
}

.page:hover{
  background-color: turquoise;
}

.title{
  text-decoration:underline;
}
